  <!DOCTYPE html>
  <html>
  	<link rel ="stylesheet" href="/css/style-login.css" type = "text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel ="stylesheet" href="/css/style.css" type = "text/css" />
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <script type="text/javascript" src="./javascript/jquery-login.js"></script>
  <body>
  <header>
    <nav id="navy">
      <a href="#" id="disabledLogo">Gymtracker</a>
    </nav>
  </header>
  <div class="login">
  <h2>Log In Form </h2>

    <div class="container">
  <form action="./validation" method="get">
      <h3 id ="wrong">{{status}}</h3>
      <h5>(can use default id="trung", password="trung")</h5>

      <label><b>Username</b></label>
     
      <input type="text" placeholder="Enter Username" name="uname" required>
      <br>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br>
      <button class="btn btn-success" type="submit">Login</button>

    </div>


    <div class="container" style="background-color:#f1f1f1">
      <button id="cancelLogIn" type="button" class="btn btn-danger">Cancel</button>
      <button id="signup" type="button" class="btn btn-success">SignUp</button>

    </div>

  </form>


  </div>
  <!-- This will handle the new users issue for now, can change later if we need to -->
  <div class="signup">
  <form method="get" action="/addUser" >

  <h2>Sign Up Form</h2>

    <div class="container">
      <h3 id ="notice">Account created successfully! </br> Login with your account</h3>
      <div class="createAccount">
      <label><b>Choose a user name:</b></label>
      <input type="text" placeholder="Enter Username" name="name" required>
      <br>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pass" required>
      <br>
      <label><b>Re-enter password</b></label>
      <input type="password" placeholder="Re-Enter Password" required>
      <br>
      <button class ="btn btn-success" id="submitSignup" type="submit">Sign up</button>
    </div>
    </div>

    <div class="container" >
      <button id="login" type="button" class="btn btn-danger">Cancel</button>
    </div>
  </form>
  </div>

  </body>
    

  </html>
