<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title> </title>
	<meta httmp-equiv="X-ua-Compatible" content = "IE=edge">
	<meta name = "viewport" content ="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./javascript/blueberry.css" />
	<link rel ="stylesheet" href="style.css" type = "text/css" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="./javascript/animate.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway|Fredoka+One|Oxygen|Lato' rel='stylesheet' type='text/css'>
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/javascript/wow.min.js"></script>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!--The javascript code for charts! -->
	<script src="/javascript/Chart.bundle.js"></script>

	<!--The javascript code for main! -->
	<script type="text/javascript" src="/javascript/jquery-main.js"></script>
	
</script>
</head>

<body>

<!-- 	<header>

			<div class="navbar navbar-inverse navbar-fixed-left">
				<ul class="nav navbar-nav">
					<li><a href="#">Gymtracker</a></li> 


					<li><a id="Overview" href="./main.html">Overview</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bicep Exercises <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a class="activity" href="#">Curls</a></li>
							<li><a class="activity" href="#">Pull-ups</a></li>
							<li><a class="addActivity" href="#">Add an Activity!</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Chest Exercises<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a class="activity" href="#">Push-ups</a></li>
							<li><a class="activity" href="#">Bench-press</a></li>
							<li><a class="addActivity" href="#">Add an Activity!</a></li>
						</ul>
					</li>

					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="./settings.html">Change your information</a></li>
						</ul>
					</li>
					<li><a id="addCategory" >Add a Category!</a></li>

				</ul>
			</div>
	</header> -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="#">GymTracker</a>        
        </div>
        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-hover="dropdown">Chest Exercises<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a class="activity" href="#">Push-ups</a></li>
                    <li><a class="activity" href="#">Bench-press</a></li>
                    <li><a class="addActivity" href="#">Add an Activity!</a></li>
                  </ul>
                </li>

                <li><a href="#">Shoulders</a></li>
                <li><a href="#">Tricep</a></li>
                <li><a href="#">Back</a></li>
                <li><a href="#">Bicep</a></li>
                <li><a href="#">Cardio</a></li>
                <li><a href="#">Abdominal</a></li>

                <!--
                <li><a href="http://ixd.ucsd.edu/home/f16/mobile_app_tips.php">Other</a></li>

                <li class="dropdown">
                  <a href="http://ixd.ucsd.edu/home/f16/logistics.php" class="dropdown-toggle disabled" data-hover="dropdown">Logistics <b class="caret"></b></a>

                  <ul class="dropdown-menu">
                    <li>
                      <a href="http://ixd.ucsd.edu/home/f16/logistics.php#prereqs">Prerequisites</a></li><li><a href="http://ixd.ucsd.edu/home/f16/logistics.php#laptop">Equipment</a>
                    </li>
                    <li><a href="http://ixd.ucsd.edu/home/f16/logistics.php#lab">Lab</a></li>
                    <li>
                      <a href="http://ixd.ucsd.edu/home/f16/logistics.php#assignments">Assignments</a>
                    </li>
                    <li>
                      <a href="http://ixd.ucsd.edu/home/f16/logistics.php#grading">Grading</a>
                    </li>
                    <li>
                      <a href="http://ixd.ucsd.edu/home/f16/logistics.php#faq">FAQ</a>
                    </li>
                  </ul>
                </li>
                -->
           </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
  </div>

			<div id="main">
					<div class="text">
						<p>"This will be a graph representing this exercise!"</p>
					</div>
					<!--This is the chart!-->
					<canvas id="myChart" ></canvas>
					<div id="graph-button">
						<button type="button">Add to this activity!</button>
					</div>
			</div>
		<footer id="contact">
		<div class="wow zoomIn animated" data-wow-delay="0.2s">
		
				<h3><b> Gymtracker .Inc</b> </h3>
				<p><b>650-520-0599</b><br><br>
					gymtracker@gmail.com<br><br>
					

				</p>
			
				<ul class="social">
					<div class="container">
						<li><a href="https://www.facebook.com"> <img src="./img/Facebook.png"/> </a></li>
						<li><a href="https://www.instagram.com"> <img src="./img/instagram.png"/> </a></li>
					</div>
				</ul>
		
		</div>
	</footer>
	<footer class="second">
		<p>Copyright Gymtracker</p>
	</footer>
</body>
</html>

