<!DOCTYPE html>
<html>
<!-- 	<link rel ="stylesheet" href="style-login.css" type = "text/css" /> -->
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
    <body>
        <div class="container">
          <h2>Motivational Quotes</h2>
          <button><a href='./main/{{name}}/{{defaultCategory}}/{{defaultActivity}}'>Let's Go!</a></button>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/javascript/bootstrap.js"></script>
</html>